#main-container {
    margin: 0 auto;
    display: flex;
    background-color: hotpink;
}

#logo {
    width: 440px;
}

#logo-container{
    background-color: #fff;
}

#icon-container{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#icon-container img{
    width: 55px;
    padding: 30px;
}

#message-container{
    padding: 50px;
    font-family: Raleway;
}

h1{
    font-size: 3rem;
    color: #fff
}