:root {
  --column-bg: #4d394b;
  --menu-bg-hover: #3e313c;
  --active-item: #00ffba;
  --active-item-text: #680001;
  --hover-item: #be0002;
  --text-color: #fff;
  --active-presence: #00ffba;
  --mention-badge: #de4c0d;
}
* {
  box-sizing: border-box;
}
html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: "Lato", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #555459;
  overflow: hidden;
  background-color: #4d394b;
}

#panel-container {
  display: inline-flex;
  margin: 0;
}

#left-panel {
  color: #fff;
  background-color: #4d394b;
  min-width: 20%;
  max-width: 20%;

}

#right-panel {
  min-width: 20%;
  max-width: 20%;
}

/* all other left panel elements at the bottom */

#center-panel {
  background-color: #fff;
  /* flex-grow: 3; */
  max-height: 100vh;
  overflow:hidden;
}

#center-header {
  background-color: #fff;
  z-index: 2;
  opacity: 100;
}

#msg-area {
  position: absolute;
  bottom: 50px;
  overflow: scroll;
  width: 59vw;
  max-height: 80%;
}

#msg-container {
  /* overflow: scroll; */
  max-width: 100%;
}

.msg-item {
  padding: 30px;
  z-index: -1;
}

#msg-form {
  position: fixed;
  bottom:10px;
}
/* right panel */

#details-image {
  padding-right: 20px;
}

/* stuff from the slack theme I need to keep */
#left-header {
  width: 100%;
  padding: 18px 18px 0;
}

h1#team-title {
  font-size: 18px;
  font-weight: 900;
}

button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-family: inherit;
  text-align: left;
  cursor: pointer;
}

button:focus,
button:hover,
button:active {
  outline: none;
}

ul {
  padding: 1rem;
}

.team-menu:hover {
  background: var(--menu-bg-hover, #680001);
}

.channels,
.dm {
  margin: 0.5rem;
  padding-right: 1rem;
}

.channels__button,
.dm__button,
.channels__heading,
.dm__heading {
  padding: 0 0 0 18px;
  width: 100%;
  color: var(--text-color, #fff);
}

.channels__number,
.dm__number {
  display: inline-block;
  position: relative;
  top: -1px;
  margin-left: 2px;
  font-size: 13px;
}

.channels__heading,
.dm__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 2.1;
  text-transform: uppercase;
}

.channels__list,
.dm__list {
  list-style-type: none;
}

.channels__button,
.dm__button {
  padding: 0.5rem;
  display: flex;
  align-items: center;
}

.channels__button span,
.channels__button:before,
.dm__button:before {
  padding: 0 0.3rem;
}
.channels__button:hover,
.dm__button:hover {
  background: var(--hover-item, #be0002);
}

.channels__button:before {
  content: "#";
}

.dm__button:before {
  content: "\f401";
  /* margin-right: 3px; */
  font-family: "Ionicons";
  font-size: 0.6rem;
}

.dm__button--online:before {
  content: "\f21b";
  color: var(--active-presence, #00ffba);
}
.dm__button--slackbot:before {
  content: "\f141";
  color: var(--active-presence, #00ffba);
  font-size: 0.75rem;
}
.dm__button--active.dm__button--online:before,
.dm__button--active.dm__button--slackbot:before {
  color: var(--active-item-text, #680001);
}
