:root {
  --column-bg: #4d394b;
  --menu-bg-hover: #3e313c;
  --active-item: #00ffba;
  --active-item-text: #680001;
  --hover-item: #be0002;
  --text-color: #fff;
  --active-presence: #00ffba;
  --mention-badge: #de4c0d;
}
* {
  box-sizing: border-box;
}
html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 18px;
  font-family: "Lato", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #555459;
  background-color: #4d394b;
  overflow: hidden;
}
h1,
h2,
h3,
h4 {
  color: #2c2d30;
  z-index: 2;
}
strong {
  font-weight: 700;
}
button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-family: inherit;
  text-align: left;
  cursor: pointer;
}

ul {
  padding: 0;
}

#tty-display {
  color: white;
  border-color: white;
}

button:focus,
button:hover,
button:active {
  outline: none;
}

#top-box {
  z-index: 2;
}

#main-container {
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 2;
}

#msg-column {
  /* position: absolute;
  bottom: 10px;
  max-height: 85%;
  overflow-y: scroll;
  overscroll-behavior: y proximity;
  scroll-snap-align: end; */

  height: 600px;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
}

#msg-column > div > div:last-child {
  scroll-snap-align: end;
}

.msg-item {
  padding: 5px;
}

#form-div {
  bottom: 0px;
  padding-bottom: 50px;
}

#msg-input {
  width: 90%;
}

#white-space {
  position: absolute;
  bottom: 0px;
}

.team-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 18px 18px 0;
}
.team-menu:hover {
  background: var(--menu-bg-hover, #680001);
}
.team-menu__name {
  font-size: 18px;
  font-weight: 900;
  color: var(--text-color, #fff);
}
.team-menu__status {
  font-size: 15px;
  line-height: 1.8;
  color: var(--text-color, #fff);
}
.team-menu__status:before {
  content: "";
  display: inline-block;
  margin-right: 0.2rem;
  width: 9px;
  height: 9px;
  background: var(--active-presence, #00ffba);
  border-radius: 50%;
}

#left-sidebar {
  position: relative;
  z-index: 1;
  min-width: 275px;
  background: var(--column-bg, #4d394b);
  color: var(--text-color, #fff);
}
.threads {
  margin: 0.6rem 0;
  padding: 0 18px;
}

.channels,
.dm {
  margin: 0.5rem 0 1.5rem;
  padding-right: 18px;
}
.channels__button,
.dm__button,
.channels__heading,
.dm__heading {
  padding: 0 0 0 18px;
  width: 100%;
  color: var(--text-color, #fff);
}
.channels__number,
.dm__number {
  display: inline-block;
  position: relative;
  top: -1px;
  margin-left: 2px;
  font-size: 13px;
}
.channels__add,
.dm__add {
  font-size: 20px;
  color: var(--text-color, #fff);
}
.channels__heading,
.dm__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 2.1;
  text-transform: uppercase;
}

.channels__list,
.dm__list {
  list-style-type: none;
}
.channels__button,
.dm__button {
  padding: 4px 0 4px 18px;
  display: flex;
  align-items: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.channels__button span,
.channels__button:before,
.dm__button:before {
  padding: 0 0.3rem;
}
.channels__button:hover,
.dm__button:hover {
  background: var(--hover-item, #be0002);
}
.channels__button--active,
.dm__button--active,
.channels__button--active:hover,
.dm__button--active:hover {
  background: var(--active-item, #d3a625);
  color: var(--active-item-text, #680001);
}
.channels__button:before {
  content: "#";
}
.dm__button:before {
  content: "\f401";
  /* margin-right: 3px; */
  font-family: "Ionicons";
  font-size: 0.6rem;
}
.dm__button--online:before {
  content: "\f21b";
  color: var(--active-presence, #00ffba);
}
.dm__button--slackbot:before {
  content: "\f141";
  color: var(--active-presence, #00ffba);
  font-size: 0.75rem;
}
.dm__button--active.dm__button--online:before,
.dm__button--active.dm__button--slackbot:before {
  color: var(--active-item-text, #680001);
}
#center-panel {
  position: relative;
  height: 100%;
  background-color: #fff;
  flex: 1;
}
.main__header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 18px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
  background: #fff;
}

.main__content {
  position: relative;
  top: 60px;
  height: calc(100vh - 60px);
  overflow-y: scroll;
}
.main__container {
  padding: 2rem;
  margin: 0 auto;
  width: 55%;
  max-width: 860px;
  min-width: 800px;
}
.main__section {
  padding: 2rem 0 0;
  border-bottom: 1px solid #ddd;
}

#details-image {
  padding-right: 20px;
}
