html,
body {
    margin: auto;  
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-family: "Lato", Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
    /* background-color: #ee1fd9; */
    background-color: #fff;
}

#search-bar {
    display: block;
    width: 100%;
    height: 40px;
    background-color: #350E36;
    text-align: center;
    padding-top: 10px;
}

#main { 
    /* background-color: #eeea1f; */
    background-color: #fff;    
    width: 1440px;
    height: 900px;
    display: flex;
    justify-content: space-between;
}

/* LEFT PANEL */

#left-panel {
    height: 100%;
    padding-left: 15px;
    color: #fff;
    background-color: #400F41;
    flex: .5;
}
h1#team-title {
  font-size: 16px;
  font-weight: 900;
}

h4, h5 {
    padding-top: 10px;
}



/* CENTER PANEL */

#center-panel {
    height: 100%;
    /* background-color: #301fee; */
    background-color: #fff;    
    flex: 2;
}

#center-header {
    width: 100%;
    height: 88px;
    background-color: #fff;
    display: flex;
    justify-content: space-evenly;
    border-bottom-style:inset;
    border-color: #eee;
}

img#elixa-center-header {
    width: 100px;
    height: 40px;
    align-self: center;
}


#message-area {
    width: 100%;
    height: 400px;
    /* background-color: #dd57a8; */
    background-color: #fff;
    display:flex;
    flex-direction: column-reverse;
    overflow: scroll;
}

ul#message-list{
    bottom: 50px;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
}

li{
    padding: 30px;
}


#input-area {
    width: 100%;
    height: 178px;
    /* background-color: #2ac44b; */
    background-color: #fff;    
    display: grid;
    justify-items: center;
}

img#slack-msg-box {
    width: 80%;
    grid-column: 1;
    grid-row: 1;
}

#text-box {
    width: 70%;
    height: 52px;
    z-index: 2;
    grid-column: 1;
    grid-row: 1;
    margin-top: 20px;
    background-color: #fff;
}

input#user-msg {
    width: 70%;
    height: 48px;
    z-index: 4;
    margin-top: 20px;
    grid-column: 1;
    grid-row: 1;
}


/* RIGHT PANEL */

#right-panel {
    height: 100%;
    /* background-color: #ee9b1f; */
    background-color: #fff;    
    flex: 1;
    display: flex;
    border-left-style:solid;
    border-color: #eee;
}

img#elixa-details-pane {
    align-self: flex-end;
}